.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

__pycache__/
.tox
wandb/
.env.secret
.output/
etc/
*.tar.gz

data-dir/
data/
outputs/*
DiffDAgger/*
DiffDAgger/
.csv#
diffusha/data_collection/*.csv
diffusha/data_collection/noise_estimation_log.csv

2023_100_ckpt/
2026_300_ckpt/
